/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
	width: 50vw;
	background-color: #7fffd4;
	border-radius: 10px;
	align-items:center;
	
	
}
.container {
width:100vw;
	min-height:100vh; 
	display:grid;
	place-items: center;
	background-color: #f0ffff; 

}


.flex-column , h1{
	display:flex;
	flex-direction: column;
		align-items:center;


}


.flex-center, h1{

justify-content:center;
align-items: center;
}


 .btn{
	font-size:20px;
	padding: 20px;
	text-align:center;
	margin-top:20px;
    cursor: pointer;
	background-color:#00ff00;
	
}

.btn:hover{
	cursor: hover;
	background-color:#ffa07a;
}
.hidden{
	display:none;
}


html{
	font-size: 120%;
		
}
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info_box .info-title{
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 20 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 5px;
    font-size: 17px;
}
.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}